/log
/records
/CMakeFiles
/build/
/build/*
./.vscode/settings.json
/.vscode
.vscode/
compile_commands.json
.clangd
# CMake 构建相关
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/install_manifest.txt
/CTestTestfile.cmake
/*.cmake
/*.dir/
*/CMakeFiles/
*/*.cmake
*/Makefile
/.cache
*.csv
*.parquet
*.log
*.pyc
*.zip
./python/trade_prob/output/
*/output/*
python/trade_prob/output/fps/*.json
config/prod_config.json
*.so
